<div class="slider">
        <h1>Rio de Janeiro</h1>
        <em>Aventura</em>
</div>


<main class="container mt-5">
        <h2 class="text-center mb-5">Sobre Nosotros</h2>
        <div class="row mb-5">
                <div class="col-md-6">
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque sunt, voluptatum aperiam
                                nostrum odio facere sed. Quia perferendis veniam possimus dolor error beatae repudiandae
                                ipsam, ab eum illo corrupti in voluptatibus. Possimus dolores quod doloremque esse.
                                Aspernatur possimus odio qui.</p>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque sunt, voluptatum aperiam
                                nostrum odio facere sed. Quia perferendis veniam possimus dolor error beatae repudiandae
                                ipsam, ab eum illo corrupti in voluptatibus. Possimus dolores quod doloremque esse.
                                Aspernatur possimus odio qui.</p>
                </div>
                <div class="col-md-6">
                        <img src="/img/inicio_nosotros.jpg" alt="imagen nosotros" class="img-fluid">
                </div>
        </div>
        <div class="row proximos-viajes">
                {{#each viajes as |viaje|}}
                <div class="col-md-6 col-lg-4 mb-4">
                        <div class="card">
                                <img src="img/destinos_{{imagen}}.jpg" alt="imagenes-sitios" class="card-img-top">
                                <div class="card-body text-center">
                                        <h2>{{viaje.titulo}}</h2>
                                        <p class="fs-4">
                                                {{fecha_ida}} - {{fecha_vuelta}}
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                        class="icon mb-3 icon-tabler icon-tabler-calendar-event"
                                                        width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5"
                                                        stroke="#00bfd8" fill="none" stroke-linecap="round"
                                                        stroke-linejoin="round">
                                                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                                        <rect x="4" y="5" width="16" height="16" rx="2" />
                                                        <line x1="16" y1="3" x2="16" y2="7" />
                                                        <line x1="8" y1="3" x2="8" y2="7" />
                                                        <line x1="4" y1="11" x2="20" y2="11" />
                                                        <rect x="8" y="15" width="2" height="2" />
                                                </svg>
                                        </p>
                                        <p class="fs-5">
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                        class="icon mb-3 icon-tabler icon-tabler-user" width="44"
                                                        height="44" viewBox="0 0 24 24" stroke-width="1.5"
                                                        stroke="#00bfd8" fill="none" stroke-linecap="round"
                                                        stroke-linejoin="round">
                                                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                                        <circle cx="12" cy="7" r="4" />
                                                        <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
                                                </svg>
                                                {{disponibles}} Disponibles
                                        </p>
                                        <p>
                                                {{descripcion}}
                                        </p>
                                        <a href="viajes/{{slug}}" class="btn btn-success btn-block">Más Información</a>
                                </div>
                        </div>
                </div>
                {{/each}}
        </div>
</main>
<div class="descuento">
        <div class="container">
                <div class="row">
                        <div class="col-md-6">
                                <div class="contenido">
                                        <h3 class="titulo text-white">5 % de Descuento</h3>
                                        <p class="fecha">20 de Marzo de 2022 - 28 de Marzo de 2022</p>
                                        <p class="precio">2.500$</p>
                                </div>
                        </div>
                </div>
        </div>
</div>
<div class="container">
        <h2 class="my-5 text-center">Testimoniales</h2>
        <div class="row testimoniales">        
                {{#each testimoniales as |testimonial|}}
                        <div class="col-md-6 col-lg-4 mb-4">
                                <div class="card">
                                        <div class="card-body">
                                                <blockquote class="blockquote">
                                                </blockquote>
                                                <p class="mb-0">
                                                        |{{mensaje}}
                                                </p>
                                                <footer class="blockquote-footer">
                                                        |{{nombre}}
                                                </footer>
                                        </div>
                                </div>
                        </div>
                {{/each}}
        </div>
</div>