<main class="container mt-5">
        <h1 class="text-center mt-5">{{titulo}}</h1> 

        <blockquote class="text-center">Nuestros clientes</blockquote>
        <div class="row testimoniales">        
                {{#each testimoniales as |testimonial|}}
                        <div class="col-md-6 col-lg-4 mb-4">
                                <div class="card">
                                        <div class="card-body">
                                                <blockquote class="blockquote">
                                                </blockquote>
                                                <p class="mb-0">
                                                        |{{mensaje}}
                                                </p>
                                                <footer class="blockquote-footer">
                                                        |{{nombre}}
                                                </footer>
                                        </div>
                                </div>
                        </div>
                {{/each}}
        </div>

        <div class="row">
                <h2 class="d-block w-100 text-center">Agrega un testimonial</h2>

                {{#if errores}}
                        <div class="w-100 mt-3 text-center">
                        {{#each errores as |error|}}
                                <p class="text-center alert alert-danger">{{{mensaje}}}</p>
                        {{/each}}
                        </div>
                {{/if}}
                
                <div class="row justify-content-center col">
                        <div class="col-md-8">
                                <form action="/testimoniales" method="post">
                                        <div class="from-group">
                                                <label for="nombre">Nombre</label>
                                                <input type="text" id="nombre" placeholder="Tu nombre" name="nombre" class="form-control" value="{{nombre}}">
                                        </div>
                                        <div class="from-group">
                                                <label for="correo">Correo</label>
                                                <input type="email" id="nombre" placeholder="Tu correo" name="correo" class="form-control" value="{{correo}}">
                                        </div>
                                        <div class="from-group">
                                                <label for="mensaje">Mensaje</label>
                                                <textarea class="form-control" name="mensaje" id="mensaje" placeholder="Tu mensaje" rows="3">{{mensaje}}</textarea>
                                        </div>
                                        <input class="btn btn-primary mt-2" type="submit">
                                </form>
                        </div>
                </div>
        </div>
</main>